* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    height: 100vh;
}

.contenedor {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .contenedor {
        flex-direction: row;
    }
}

.wave {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

@media (min-width: 480px) {
    .wave {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .wave {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }
}

.contenedor-textos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 40%;
    text-align: center;
    overflow: hidden;
    color: white;
}

@media (min-width: 480px) {
    .contenedor-textos {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .contenedor-textos {
        flex-basis: 50%;
        padding-left: 40px;
        align-items: flex-start;
        text-align: left;
    }
}

.titulo {
    font-size: 35px;
}

@media (min-width: 768px) {
    .titulo {
        font-size: 40px;
    }
}

.subtitulo {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .subtitulo {
        font-size: 30px;
        font-weight: 500;
        margin: 20px 0;
    }
}

.cta {
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    text-decoration: none;
    color: #4776E6;
}

.contenedor-imagen {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

@media (min-width: 480px) {
    .contenedor-imagen {
        flex-basis: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {}

.img {
    width: 80%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@media (min-width: 480px) {
    .img {
        width: 80%;
    }
}

@keyframes ilustrationAnimate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

@media (min-width: 768px) {}

@media (min-width: 576px) {}